@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Deklarieren einer Variable */
:root {
  --rot:       #cc2020;
  --dunkelrot: #590808;
  --schwarz:   #000000;
  --weiss:     #ffffff;
  --hellgrau:  #e8e8e8;
  --grau:      #292929;
  --blau:      #1b8ac1;
  --gruen:     #12bc3d;
}

/* Das stylt eifach mal de schwarz Balke */
header nav#eins {
  position: fixed;
  top: 0; left: 0;
  text-align: right;
  width: 95%;
  padding-right: 5%;
  height: 60px;
  background: var(--schwarz);
  box-shadow: 0 0 30px var(--schwarz); /* null nach rechts, null nach links, 30px blurr & schwarz */
}
header nav#zwei {
  position: absolute;
  top: 125px;
  text-align: right;
  width: 95%;
  padding-right: 5%;
  height: 60px;
  background: var(--dunkelrot);
}

/* um das da gahts eigentlich.. das da isch alles wo mit em text z'tue hed */
header nav#eins ul a li,
header nav#zwei ul a li {
  display: inline-block;
  padding: 0 15px;
  line-height: 60px; /*vertikali zentrierig vom text */
  color: var(--weiss);
  text-decoration: none;
  transition-duration: 0.5s;
}

/* en richtig noise hover effect */
header nav#eins ul a li:hover,
header nav#zwei ul a li:hover {
  background: var(--rot);
}

/* positionierig vom logo */
header nav#eins a img,
header nav#zwei a img {
  position: absolute;
  left: 10px;
  top: 15px;
  height: 30px;
  transition-duration: 0.5s;
}

/* weme ufem logo isch sells obere verschwinde */
.toplogo:hover {
  opacity: 0;
}

.abstandoben {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 125px;
  background: var(--rot);
  z-index: 9999;

  line-height: 125px;
  font-size: 35px;
  text-align: center;
  color: var(--weiss);
  user-select: none;
}
.abstandunde {
  height: 1500px;
}
