@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Deklarieren einer Variable */
:root {
  --rot:      #cc2020;
  --schwarz:  #000000;
  --weiss:    #ffffff;
  --hellgrau: #e8e8e8;
  --grau:     #292929;
  --blau:     #1b8ac1;
  --gruen:    #12bc3d;
}

/* Es paar Grundiistellige wo mir gfalled aber ned zwingend sind */
header { user-select: none; }
a  { text-decoration: none; }

.nav ul li {
	display: inline-block;
	vertical-align: middle;
}

.nav ul li a {
	color: lightgrey;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 25px 5px 25px;
	border-bottom: 3px solid rgba(0,0,0,0);
}

.nav ul li a:hover {
  transition-duration: 0.3s;
  color: white;
	border-bottom: 3px solid #cc2020;
}

.nav ul li ul {
  margin-top: 0px;
  padding-left: 0px;
  position: absolute;
  display: none;
}

.nav ul li:hover ul {
  display: block;
}

.nav ul li ul li {
  display: block;
}

.nav ul li ul li ul {
  margin-left: 100%;
  margin-top: -30px;
  visibility: hidden;
}

.nav ul li ul li:hover ul {
  margin-left: 100%;
  visibility: visible;
}
#dropdown {
	background: rgba(80,80,80,.6);
	border-bottom: 3px solid #505050;
}
#dropdown:hover {
	background: rgba(80,80,80,.9);
	border-bottom: 3px solid #cc2020;
}

/* Positionierig vom Logo */
header a img {
  position: fixed;
  right: 20px;
  top: 15px;
  height: 30px;
  transition-duration: 0.5s;
  z-index: 9999;
}

/* weme ufem logo isch sells obere verschwinde */
.toplogo:hover {
  opacity: 0;
}
