@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Deklarieren einer Variable */
:root {
  --rot:      #cc2020;
  --schwarz:  #000000;
  --weiss:    #ffffff;
  --hellgrau: #e8e8e8;
  --grau:     #292929;
  --blau:     #1b8ac1;
  --gruen:    #12bc3d;
}

/* Es paar Grundiistellige wo mir gfalled aber ned zwingend sind */
header { user-select: none; }
a  { text-decoration: none; }

/* Der schwarze Balken ganz oben */
nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background: var(--schwarz);
  height: 60px;
  line-height: 60px;
}

/* stellt die list items nebeneinander an */
nav ul li {
	display: inline-block;
}

/* hiermit stylt man den text an ich (z채hlt auch f체r das dropdown)*/
nav ul li a {
  width: 150px;
  display: block;
	text-align: center;
  color: var(--weiss);
  background: var(--schwarz);
  transition-duration: 0.3s;
}

/* Der Hovereffekt (z채hlt auch f체r das dropdown) */
nav ul li a:hover {
	background: var(--rot);
}

/* Standard soll das dropdown nicht angezeigt werden*/
nav ul li ul {
  position: absolute;
  display: none;
}

/* beim hovern wird das dropdown korrekt angezeigt */
nav ul li:hover ul,
nav ul li ul li {
  display: block;
}

/* Positionierig vom Logo */
header a img {
  position: fixed;
  right: 20px;
  top: 15px;
  height: 30px;
  transition-duration: 0.5s;
  z-index: 9999;
}

/* weme ufem logo isch sells obere verschwinde */
.toplogo:hover {
  opacity: 0;
}

.abstandunde {
  height: 1000px;
}
