@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
html, body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

/* Deklarieren einer Variable */
:root {
  --weiss:    #ffffff;
  --hellgrau: #e8e8e8;
  --grau:     #292929;
  --schwarz:  #000000;
  --rot:      #cc2020;
  --blau:     #1b8ac196;
  --gruen:    #12bc3d;
}

.content {
  width: 800px;
  height: 547px;
  margin: 0 auto;
  position: relative;
}

.slide {
  position: absolute;
  top: calc(50% - 20px);
  font-size: 40px;
	color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-duration: 0.3s;
}

.next {
  right: -40px;
}
.prev {
  left:  -40px;
}

.next:hover,
.prev:hover {
  color: var(--blau);
}


.teamimage {
  width: 100%;
  height: 100%;
}

.slide_img {
  position: absolute;
  z-index: 0;
}

#nav_slide {
	width: 100%;
	bottom: 25px;
	position: absolute;
	text-align: center;
	z-index: 99;
}

.dots {
	width: 15px;
	height: 15px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.4s;
	cursor: pointer;
}

#dot1:hover,
#dot2:hover,
#dot3:hover {
  background: var(--blau);
}

#i1:checked ~ #img1,
#i2:checked ~ #img2,
#i3:checked ~ #img3 {
	z-index: 99;
}

#i1:checked ~ #nav_slide #dot1 {background: var(--blau);}
#i2:checked ~ #nav_slide #dot2 {background: var(--blau);}
#i3:checked ~ #nav_slide #dot3 {background: var(--blau);}
