/* löscht alle default margin und pdading werte*/
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--body);
  font-family: var(--bodyfont);
}

/* nichts im Header soll man selektieren können */
header {
  user-select: none;
  -moz-user-select: none;
}
/* Die zwei Schriften die man wechseln kann */
.font1 { --bodyfont: var(--schrift1); }
.font2 { --bodyfont: var(--schrift2); }

.abstand { height: 1000px; }

/* Headerbild, ein wenig zugeschnitten */
.header-image {
  width: 100%;
  height: 300px;
  background: url("../img/headercropped.png") no-repeat 50% 25%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

/* damit das Bild dunkler ist, schwarzer Balken 70% transparenz */
.header-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: #0000004d;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

/* das "M" im Logo (Header) */
.header-text {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: var(--schrift3);
  text-align: center;
  line-height: calc(300px - 2vw); /* Höhe Headerblock - Mittelpunkt vom Clippath */
  font-size: 100px;
  font-weight: bold;
  color: var(--weiss);
}

/* Die geschwungene Klammer im Logo (Header) */
.header-text::after {
  content: "}";
  color: var(--blau);
}
/* damit alle absoluten positionen einen Anhaltspunkt haben */
.two-nav {
  position: relative;
  z-index: 9000;
}
/* der Balken, welcher bei scrollen oben bleibt */
.nav-balken {
  position: absolute;
  height: 70px;
  width: 100%;
  background: var(--body);
  border-bottom: 3px solid var(--navborder);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}

/* wenn gescrollt wurde, wird der Balken fixed */
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

/* Hovereffekt über Menu oder Einstellungen */
#nav-menu:hover > #nav-menu-linien,
#nav-menu:hover > #nav-menu-close,
#nav-einst:hover > #nav-einst-gear,
#nav-einst:hover > #nav-einst-close {
  background: var(--hoverfarbe);
  cursor: pointer;
}

/* Menu Linien Icon */
#nav-menu-linien {
  -webkit-mask: url("../img/linien.svg") no-repeat center;
  mask: url("../img/linien.svg") no-repeat center;
  background: var(--icon);
  height: 40px;
  width: 35px;
  transition: var(--trans-duration);
  position: absolute;
  left: 28px;
  top: 15px;
}

/* Menu Schliessen Icon */
#nav-menu-close {
  -webkit-mask: url("../img/close.svg") no-repeat center;
  mask: url("../img/close.svg") no-repeat center;
  background: var(--closeicon);
  height: 30px;
  width: 30px;
  transition: var(--trans-duration);
  position: absolute;
  left: 30px;
  top: 20px;
}

/* Einstellungen Einstellungs Icon */
#nav-einst-gear {
  -webkit-mask: url("../img/gear.svg") no-repeat center;
  mask: url("../img/gear.svg") no-repeat center;
  background: var(--icon);
  height: 35px;
  width: 35px;
  transition: var(--trans-duration);
  position: absolute;
  right: 30px;
  top: 17px;
}

/* Einstellungen Schliessen Icon */
#nav-einst-close {
  -webkit-mask: url("../img/close.svg") no-repeat center;
  mask: url("../img/close.svg") no-repeat center;
  background: var(--closeicon);
  height: 30px;
  width: 30px;
  transition: var(--trans-duration);
  position: absolute;
  right: 30px;
  top: 20px;
}

/* Effekt bei onClick */
#nav-menu-linien.menu-weg,
#nav-menu-close.menu-weg,
#nav-einst-gear.einst-weg,
#nav-einst-close.einst-weg {
  opacity: 0;
  transform: rotate(360deg);
}

/* hinzugefügt, wenn etwas ausgeblendet werden soll */
.unsichtbar {
  display: none;
}

/* das Navigationsmenu (normalerweise links versteckt) */
#nav-menu-nav {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 250px;
  height: 100vh;
  padding: 0 30px;
  background: var(--body);
  transition: 0.5s;
}

/* das Navigationsmenu, wenn es sichtbar sein sollte */
#nav-menu-nav.nav-rein {
  left: 0;
}

/* Abtrennug zwischen Navigation & Dropdown */
#nav-menu-nav > ul {
  border-bottom: 1px solid var(--navcolor);
}

/* Positionierung vom Navigations Text */
#nav-menu-nav ul li {
  padding: 15px;
  list-style: none;
  text-align: center;
}

/* Styling vom Navigations Text */
#nav-menu-nav a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s;
  color: var(--navcolor);
  border-bottom: 4px solid #00000000;
}

/* Hovereffekt vom Navigations Text */
#nav-menu-nav a:hover {
  border-bottom: 2px solid var(--navcolor);
  color: var(--hoverfarbe);
}

/* Der Pfeil vom DropdownMenu */
#dropdownicon {
  position: relative;
  top: -2px;
  left: 4px;
  border: solid var(--navcolor);
  border-width: 0 0 3px 3px;
  display: inline-block;
  padding: 2.5px;
  transition: 0.3s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Hovereffekt über NavText oder DropdownMenu */
#nav-menu-nav a:hover > #dropdownicon,
#dropdownicon:hover {
  border: solid var(--hoverfarbe);
  border-width: 0 0 3px 3px;
}

/* dropdown aktiviert, soll das icon sich drehen */
#dropdownicon.drehen {
  transform: rotate(-135deg);
  top: -2px;
}

/* DropdownMenu soll default links versteckt sein */
#nav-dropdown {
  position: relative;
  left: -100%;
  transition: var(--trans-duration);
}

/* das DropdownMenu, wenn es sichtbar sein sollte */
#nav-dropdown.dropdown-rein {
  left: 0;
}

/* EinstellungsMenu soll default rechts versteckt sein */
#nav-einst-einst {
  position: absolute;
  top: 60px;
  right: -100%;
  width: 250px;
  height: 100vh;
  padding: 15px 30px 0 30px;
  background: var(--body);
  transition: 0.5s;
}

/* das EinstellungsMenu, wenn es sichtbar sein sollte */
#nav-einst-einst.einst-rein {
  right: 0;
}

/* EinstellungsText (DarkMode, FontSelection, ColorSelection) */
#nav-einst-einst p {
  font-weight: bold;
  line-height: 45px;
  color: var(--navcolor);
}

/* Positionierung vom On/Off Switch */
.switch {
  position: absolute;
  top: 23px;
  left: 160px;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* der graue / blaue hintergrundbalken */
.slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--hellgrau);
  transition: 0.5s;
  border-radius: 26px;
}

/* der weisse Kreis, welcher sich hin und her bewegt */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.5s;
  border-radius: 18px;
}

/* das Defaultkästchen soll weg */
.switch input { display:none; }

/* Hintergrundfarbe, wenn es geklickt wurde */
input:checked + .slider {
  background-color: #24a5e5;
}

/* geklickt, geht der Button 24px nach rechts */
input:checked + .slider:before {
  transform: translateX(24px);
}

/* schriftart auswählen */
.select-wrapper > select {
  position: absolute;
  top: 70px;
  left: 160px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--navcolor);
  background: var(--body);
  height: 22px;
  font-size: 13px;
  padding-left: 8px;
  border-radius: 13px;
  width: 140px;
}

/* du verstehst was das soll, wenn dus entfernst und eine Schriftart auswählst.. */
select:focus {
  outline: none;
}

/* Positionierung der 3 Kreise für die Farbauswahl */
.colorselect {
  position: absolute;
  left: 160px;
  top: 98px;
}

/* Styling für alle Kreise zum anklicken */
.kreis {
  float: left;
  width: 22px;
  height: 22px;
  margin: 15px 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;
}

/* die drei Farbauswahlen, hovereffekt + organgener Rahmen falls ausgewählt*/

.blau { background: var(--blau); }
.blau:hover { background: var(--dunkelblau); }

.gruen { background: var(--gruen); }
.gruen:hover { background: var(--dunkelgruen); }

.rot { background: var(--rot); }
.rot:hover { background: var(--dunkelrot); }

.selected { border: 2px solid #ff9e28; }

#nav-einst-einst p.select-vorschau {
  color: var(--hoverfarbe);
}

/* Container über die gesamte Seite (dass man die Navigation ausserhalb wegklicken kann) */
#leerecontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

/*
 *
 * CONTENT
 *
*/

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}
article {
  height: 300px;
  width: 100%;
  border-bottom: 3px solid var(--body);
  position: relative;
  background: green;
}
#art1 {
  background: url("../img/lebenslauf-1.png") no-repeat 50% 50%;
  background-size: cover;
}
#art2 {
  background: url("../img/lebenslauf-2.png") no-repeat 50% 50%;
  background-size: cover;
}
#art3 {
  background: url("../img/lebenslauf-3.png") no-repeat 50% 50%;
  background-size: cover;
}
#art4 {
  background: url("../img/lebenslauf-4.png") no-repeat 50% 50%;
  background-size: cover;
}
#art5 {
  background: url("../img/lebenslauf-5.png") no-repeat 50% 50%;
  background-size: cover;
}

article#art1 p,
article#art2 p,
article#art3 p,
article#art4 p,
article#art5 p {
  width: 100%;
  color: var(--weiss);
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
