* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--body);
  font-family: var(--schrift1);
}

header { user-select: none; }
.abstand { height: 1000px; background: lightgreen; }

.header-image {
  width: 100%;
  height: 300px;
  background: url("../img/headercropped.png") no-repeat 50% 25%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

.header-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: #0000004d;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

.header-text {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: var(--schrift3);
  text-align: center;
  line-height: calc(300px - 2vw); /* Höhe Headerblock - Mittelpunkt vom Clippath */
  font-size: 100px;
  font-weight: bold;
  color: var(--weiss);
}

.header-text::after {
  content: "}";
  color: var(--blau);
}

.nav-balken {
  position: absolute;
  height: 70px;
  width: 100%;
  background: var(--body); /* var(--body) */
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#nav-menu,
#nav-einst {
  cursor: pointer;
}

#menu-linien {
  -webkit-mask: url("../img/linien.svg") no-repeat center;
  mask: url("../img/linien.svg") no-repeat center;
  background: black;
  height: 40px;
  width: 35px;
  transition: var(--trans-duration);
  position: absolute;
  left: 28px;
  top: 15px;
}


#menu-close {
  -webkit-mask: url("../img/close.svg") no-repeat center;
  mask: url("../img/close.svg") no-repeat center;
  background: var(--closeicon);
  height: 30px;
  width: 30px;
  transition: var(--trans-duration);
  position: absolute;
  left: 30px;
  top: 20px;
}

/* die transformation vom obersten strich */
.liniegedreht-1 {
  transform: matrix(0.85, 0.8, -0.7, 0.7, 0, 11);
  background: var(--closeicon)!important;
}

/* der zweite strich soll verschwinden */
.liniegedreht-2 {
  opacity: 0;
}

/* die transformation vom dritten strich */
.liniegedreht-3 {
  transform: matrix(0.85, -0.8, 0.7, 0.7, 0, -11);
  background: var(--closeicon)!important;
}

#nav-menu:hover > #menu-linien,
#nav-menu:hover > #menu-close,
#nav-einst:hover > #einst-gear,
#nav-einst:hover > #einst-close {
  background: var(--hoverfarbe);
}

/* div für das settings icon */
#einst-gear {
  -webkit-mask: url("../img/gear.svg") no-repeat center;
  mask: url("../img/gear.svg") no-repeat center;
  background: black;
  height: 35px;
  width: 35px;
  transition: var(--trans-duration);
  position: absolute;
  right: 30px;
  top: 17px;
}

/* div für das schliessen icon */
#einst-close {
  -webkit-mask: url("../img/close.svg") no-repeat center;
  mask: url("../img/close.svg") no-repeat center;
  background: var(--closeicon);
  height: 30px;
  width: 30px;
  transition: var(--trans-duration);
  position: absolute;
  right: 30px;
  top: 20px;
}

#menu-linien.menu-weg,
#menu-close.menu-weg,
#einst-gear.einst-weg,
#einst-close.einst-weg {
  opacity: 0;
  transform: rotate(360deg);
}
