/**
  *
  * GENERAL STYLING
  *
**/
@import  url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
@font-face  {
  font-family: "stencilcreek";
  src: url("../de/font/stencilcreek.ttf") format("truetype"), url("../fr/font/stencilcreek.tt") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
html, body {
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
}
::selection {
  background: #e40613;
  color: #f4f4f4;
}
.inbetween {
  line-height: 8px;
}

/**
  *
  * HEADER
  *
**/
header {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.header--img {
  height: 100vh;
  width: 100vw;
  background: url("../img/header.jpg") 50% 30%;
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (max-width: 830px) {
  .header--img {
    height: 60vh;
    background-attachment: scroll;
  }
}

.header--text {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  font-family: stencilcreek;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 8vw;
  line-height: 7.7vw;
  text-align: center;
}
@media only screen and (max-width: 830px) {
  .header--text {
    font-size: 60px;
    line-height: 50px;
  }
}

.header--nav {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #f4f4f4;
  border-bottom: 3px solid #dbdbdb;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}

.header--nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header--icon {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 30px;
  top: 10.5px;
  z-index: 9999;
  transition-duration: 0.5s;
}
.header--icon.menu--clicked {
  transform: rotate(180deg);
}
#line1,
#line2,
#line3 {
  width: 35px;
  height: 5px;
  background-color: #474747;
  border-radius: 4px;
  margin: 6px 0;
  transition-duration: 0.6s;
}
.header--icon:hover > #line1,
.header--icon:hover > #line2,
.header--icon:hover > #line3 {
  background: #e40613;
}
#line1.clicked1 {
  transform: matrix(0.85, -0.8, 0.7, 0.7, 0, 11);
  background: #e40613;
}
#line2.clicked2 {
  opacity: 0;
}
#line3.clicked3 {
  transform: matrix(0.85, 0.8, -0.7, 0.7, 0, -11);
  background: #e40613;
}
.header--icon:hover > #line1.clicked1,
.header--icon:hover > #line2.clicked2,
.header--icon:hover > #line3.clicked3 {
  background: #474747;
}

.header--lang {
  position: absolute;
  right: 30px;
  bottom: 0;
  line-height: 60px;
  font-size: 20px;
}

.header--lang a {
  position: relative;
  text-decoration: none;
  color: #000000;
}
.header--lang-active {
  font-weight: 600;
}
.header--lang a:hover {
  text-decoration: underline;
}

.header--lang i {
  font-style: normal;
  padding: 0 5px;
  color: #e40613;
}

/**
  *
  * MAIN CONTENT // index.html
  *
**/
main {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}
.main--welcome-text h1 {
  font-family: "stencilcreek";
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.main--welcome-text hr {
  border: none;
  outline: none;
  height: 2px;
  background-image: linear-gradient(to right, #00000000, #e40613, #00000000);
}
.main--recent-news h2 {
  position: relative;
  margin: 30px 0 15px 0;
}
.main--recent-news h2::after {
  content: "⌄⌄⌄";
  position: absolute;
  left: -1px;
  bottom: -13px;
  color: #e40613;
}

.main--recent-news img {
  width: 30%;
  display: block;
  margin: 30px auto;
}
@media only screen and (max-width: 1100px) {
  .main--recent-news img {
    width: 50%;
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 800px) {
  .main--recent-news img {
    width: 70%;
  }
}
@media only screen and (max-width: 580px) {
  .main--recent-news img {
    width: 90%;
  }
}

.main--recent-news i {
  font-style: normal;
  padding: 0 5px;
  color: #e40613;
}
.main--recent-news a {
  text-decoration: none;
  color: #e40613;
  border-bottom: 1px solid #00000000;
  transition: 0.3s;
  margin-bottom: 5px;
}
.main--recent-news a:hover {
  border-bottom: 1px solid #000000;
}
