/**
  *
  *
  * GENERAL STYLING
  *
**/
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Inconsolata.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
}
@font-face  {
  font-family: "stencilcreek";
  src: url("../font/stencilcreek.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
html, body {
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
}
i {
  font-style: normal;
  color: #c72e54;
}
::selection {
  background: #c72e54;
  color: #f4f4f4;
}

/**
  *
  *
  * HEADER
  *
**/
header {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.header--img {
  height: 100vh;
  width: 100%;
  background: url("../img/header.jpg") 50% 30%;
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (max-width: 1025px) {
  .header--img {
    height: 60vh;
    background-attachment: scroll;
  }
}

.header--text {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  font-family: stencilcreek;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 8;
  line-height: 7.7%;
  text-align: center;
}
@media only screen and (max-width: 830px) {
  .header--text {
    font-size: 60px;
    line-height: 50px;
  }
}

.header--navbar {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #f4f4f4;
  border-bottom: 3px solid #dbdbdb;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.header--navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}

.header--icon {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 30px;
  top: 10.5px;
  z-index: 9999;
  transition: 0.5s;
}
.header--icon.menu--clicked {
  transform: rotate(180deg);
}
#line1,
#line2,
#line3 {
  width: 35px;
  height: 5px;
  background-color: #474747;
  border-radius: 4px;
  margin: 6px 0;
  transition: 0.5s;
}
.header--icon:hover > #line1,
.header--icon:hover > #line2,
.header--icon:hover > #line3 {
  background: #c72e54;
}
#line1.clicked1 {
  transform: matrix(0.85, -0.8, 0.7, 0.7, 0, 11);
  background: #c72e54;
}
#line2.clicked2 {
  opacity: 0;
}
#line3.clicked3 {
  transform: matrix(0.85, 0.8, -0.7, 0.7, 0, -11);
  background: #c72e54;
}
.header--icon:hover > #line1.clicked1,
.header--icon:hover > #line2.clicked2,
.header--icon:hover > #line3.clicked3 {
  background: #474747;
}

.header--navigation {
  position: absolute;
  top: 60px;
  left: -313px;
  width: 250px;
  height: 100vh;
  padding: 0 30px;
  background: #f4f4f4;
  border-right: 3px solid #c72e54;
  z-index: 9999;
  transition: 0.5s;
}
@media only screen and (max-width: 800px) {
  .header--navigation {
    top: 80px;
    border: none;
  }
}

@media only screen and (min-width: 830px) {
  .header--navigation {
    width: 400px;
    left: -463px;
  }
}
.nav-in-out {
  left: 0;
}
#nav > ul {
  padding-top: 30px;
  border-bottom: 1px solid #c72e54;
}
#nav ul li {
  padding: 15px;
  list-style: none;
}
#nav a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  color: #000000;
  position: relative;
}
#nav a:hover {
  color: #c72e54;
}
#nav a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #00000000;
  transition: 0.3s;
}
#nav a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #000000;
}
.nav-active::after {
  content: url("../img/stone.png");
  position: absolute;
  left: -25px;
}
@media only screen and (max-width: 800px) {
  #icon-to-high.nav-active::after {
    top: 10px;
  }
}
.header--nav-link {
  top: 25px;
  left: 15px;
}
.header--lang {
  position: absolute;
  right: 30px;
  bottom: 0;
  line-height: 60px;
  font-size: 20px;
  z-index: 9990;
}
.header--lang a {
  position: relative;
  text-decoration: none;
  color: #000000;
}
.header--lang-active {
  font-weight: 600;
}
.header--lang a:hover {
  text-decoration: underline;
}
.header--lang i {
  font-style: normal;
  padding: 0 5px;
  color: #c72e54;
}
#container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0; left: 0;
  z-index: 4000;
}
.invisible {
  display: none;
}

/**
  *
  *
  * MAIN CONTENT // index.php
  *
**/
main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  transition: 0.5s;
}
@media only screen and (max-width: 800px) {
  main {
    width: 90%;
  }
}
.main-right-left {
  transform: translateX(-120%);
}
.main--welcome-text h1 {
  font-family: "stencilcreek";
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.main--welcome-text hr {
  position: relative;
  top: -10px;
  border: none;
  outline: none;
  height: 2px;
  background-image: linear-gradient(to right, #00000000, #c72e54, #00000000);
}
.main--welcome-text h2 {
  position: relative;
  top: -8px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.main--preview {
  background: #f9f9f9;
  padding: 10px 10px 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  .main--preview {
    padding: 10px;
    border-radius: 3px;
  }
}
.main--preview h2 {
  position: relative;
  margin-bottom: 15px;
}
.main--preview h2::after {
  content: "⌄⌄⌄";
  position: absolute;
  left: -1px;
  bottom: -13px;
  color: #c72e54;
}
@media only screen and (max-width: 800px) {
  .main--preview h2::after {
    font-size: 20px;
    bottom: -9px;
  }
}
.preview--inbetween-space {
  line-height: 8px;
}
.main--preview img {
  width: 60%;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  .main--preview img {
    width: 95%;
    border-radius: 3px;
  }
}
.main--preview i {
  font-style: normal;
  padding: 0 5px;
  color: #c72e54;
}
.main--preview a {
  text-decoration: none;
  color: #c72e54;
  border-bottom: 1px solid #00000000;
  transition: 0.3s;
  margin-bottom: 5px;
}
.main--preview a:hover {
  border-bottom: 1px solid #000000;
}
/**
  *
  * MAIN CONTENT // saisonplan.php
  *
**/
.main--saisonplan {
  background: #f9f9f9;
  padding: 10px 10px 50px 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.main--saisonplan h2 {
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (min-width: 800px) {
  .main--saisonplan {
    padding: 10px 10px 50px 10px;
    border-radius: 3px;
  }
  .main--saisonplan h2 {
    margin-left: 15%;
  }
}
.main--saisonplan h2::after {
  content: "⌄⌄⌄";
  position: absolute;
  left: -1px;
  bottom: -13px;
  color: #c72e54;
}
@media only screen and (max-width: 800px) {
  .main--saisonplan h2::after {
    font-size: 20px;
    bottom: -9px;
  }
}
.main--saisonplan table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}
.main--saisonplan table tr th {
  border-bottom: 2px solid #c72e54;
}
.main--saisonplan table tr td {
  height: 25px;
  border-bottom: 1px solid #000000;
}
.saisonplan--date {
  text-align: right;
  padding-right: 10px;
}
.saisonplan--info {
  padding-left: 10px;
  text-align: left;
  border-left: 1px solid #00000030;
}
@media only screen and (max-width: 800px) {
  .main--saisonplan table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }
  .saisonplan--date {
    text-align: right;
    padding-right: 15px;
  }
  .saisonplan--info {
    text-align: left;
  }
}
.saisonplan--next-up td,
.saisonplan--last-event td {
  border-bottom: 1px solid #e40613 !important;
}


.main--results {
  background: #f9f9f9;
  padding: 10px 10px 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.main--results h2 {
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (min-width: 800px) {
  .main--results {
    padding: 10px;
    border-radius: 3px;
  }
  .main--results h2 {
    margin-left: 15%;
  }
}
.main--results h2::after {
  content: "⌄⌄⌄";
  position: absolute;
  left: -1px;
  bottom: -13px;
  color: #c72e54;
}
@media only screen and (max-width: 800px) {
  .main--results h2::after {
    font-size: 20px;
    bottom: -9px;
  }
}
.results--content {
  width: 70%;
  margin: 0 auto 50px auto;
}
@media only screen and (max-width: 800px) {
  .results--content {
    width: 100%;
  }
}
.results--content hr {
  outline: none;
  border: none;
  border-top: 1px solid #e40613;
}
.results--content h3 {
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
}
.results--content p::first-letter {
  font-family: "Inconsolata";
  font-weight: bold;
}
.results--content a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #c72e54;
  border-bottom: 1px solid #00000000;
  transition: 0.3s;
  margin-bottom: 5px;
}
.results--content a:hover {
  border-bottom: 1px solid #000000;
}

/**
  *
  * MAIN CONTENT // team.php
  *
**/
.main--team table {
  border-collapse: collapse;
  width: 100%;
  align: center;
}
.main--team table tr td {
  background-clip: padding-box;
  border-radius: 5px;
}
.main--team img {
  height: 330px;
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  .main--team table tr {
    padding: 10px;
    border-radius: 3px;
    height: 240px;
  }
  .main--team img {
    border-radius: 3px;
    height: 220px;
  }
}
.team--table {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 10px 10px 15px 20px;
  margin-top: 30px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  .team--table {
    border-radius: 3px;
  }
}

.team--bild-links {
  text-align: right;
  pointer-events: none;
  user-select: none;
}
.team--bild-rechts {
  text-align: left;
  pointer-events: none;
  user-select: none;
}
.team--text-links {
  text-align: right;
  padding-right: 5%;
}
.team--text-rechts {
  text-align: left;
  padding-left: 5%;
}
/**
  *
  * MAIN CONTENT // news.php
  *
**/
.main--news {
  background: #f9f9f9;
  padding: 10px 10px 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.news--content {
  width: 70%;
  margin: 0 auto;
  padding: 15px 0 40px 0;
}
@media only screen and (max-width: 800px) {
  .news--content{
    width: 95%;
  }
}
.news--content hr {
  outline: none;
  border: none;
  border-top: 1px solid #e40613;
}
.news--content h3 {
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
}
.news--img,
.news--video {
  width: 70%;
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.news--flag {
  display: inline;
  height: 14px;
  position: relative;
  top: 2px;
}
.jpn {
  box-shadow:0 0 2px rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 800px) {
  .news--img,
  .news--video {
    width: 95%;
  }
}

.news--video {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

/**
  *
  * MAIN CONTENT // sponsoring.php
  *
**/
.sponsoring--principal,
.sponsoring--others {
  background: #f9f9f9;
  padding: 10px 10px 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  .sponsoring--principal,
  .sponsoring--others {
    padding: 10px;
    border-radius: 3px;
  }
}
.sponsoring--principal h2,
.sponsoring--others h2 {
  position: relative;
  margin-bottom: 15px;
}
.sponsoring--principal h2::after,
.sponsoring--others h2::after {
  content: "⌄⌄⌄";
  position: absolute;
  left: -1px;
  bottom: -17px;
  color: #c72e54;
}
@media only screen and (max-width: 800px) {
  .sponsoring--principal h2::after,
  .sponsoring--others h2::after {
    font-size: 20px;
    bottom: -14px;
  }
}
.sponsoring--principal img,
.sponsoring--others img {
  height: 150px;
  display: block;
}
.sponsoring--others img {
  padding: 15px 0;
}
img.reichenbach {
  height: 100px;
}
@media only screen and (max-width: 800px) {
  .sponsoring--principal img,
  .sponsoring--others img {
    height: 100px;
  }
  img.reichenbach {
    height: 70px;
  }
}
