@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
html, body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

/* Deklarieren einer Variable */
:root {
  --weiss:     #ffffff;
  --hellgrau:  #e8e8e8;
  --mittelgrau:#a6a6a6;
  --grau:      #292929;
  --schwarz:   #000000;
  --rot:       #cc2020;
  --blau:      #1b8ac1;
  --gruen:     #12bc3d;
}

/* Bisschen Abstand am Rand fürs schöne Aussehen.. */
.content {
  width: 80%;
  margin: 0 auto;
}

/* Abstand zwischen den Reihen */
#reihe {
  margin-top: 50px;
  text-align: center;
}

#reihe:last-child {
  padding-bottom: 100px;
}

hr {
  margin-top: 50px;
}

/* styling für alle buttons */
a {
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid var(--schwarz);
  color: var(--schwarz);
  text-decoration: none;
  transition-duration: 0.5s;
  user-select: none;
}

/*
Buttons Reihe 1
*/
.r1_b2:hover {
  background: var(--rot);
  color: var(--weiss);
  border: 1px solid var(--rot)
}

.r1_b3:hover {
  background: var(--gruen);
  color: var(--weiss);
  border: 1px solid var(--gruen)
}

.r1_b4:hover {
  background: var(--blau);
  color: var(--weiss);
  border: 1px solid var(--blau)
}

/*
Buttons Reihe 2
*/
.r2_b1 {
  border: 1px solid var(--weiss);
}
.r2_b1:hover {
  border: 1px solid var(--schwarz);
}
.r2_b2 {
  border: 1px solid var(--rot);
  color: var(--rot);
}
.r2_b2:hover {
  border: 1px solid var(--schwarz);
  color: var(--schwarz);
}

.r2_b3 {
  border: 1px solid var(--gruen);
  color: var(--gruen);
}
.r2_b3:hover {
  border: 1px solid var(--schwarz);
  color: var(--schwarz);
}

.r2_b4 {
  border: 1px solid var(--blau);
  color: var(--blau);
}
.r2_b4:hover {
  border: 1px solid var(--schwarz);
  color: var(--schwarz);
}

/*
Buttons Reihe 3
*/
.r3_b1 {
  border-radius: 5px
}
.r3_b1:hover {
  color: var(--weiss);
  background: var(--schwarz);
}

.r3_b2 {
  color: var(--rot);
  border-radius: 5px
}
.r3_b2:hover {
  background: var(--rot);
  color: var(--weiss)
}

.r3_b3 {
  color: var(--gruen);
  border-radius: 5px;
}
.r3_b3:hover {
  background: var(--gruen);
  color: var(--weiss);
}

.r3_b4 {
  color: var(--blau);
  border-radius: 5px;
}
.r3_b4:hover {
  background: var(--blau);
  color: var(--weiss);
}

/*
Buttons Reihe 4
*/
.r4_b1 {
  background: linear-gradient(45deg, var(--schwarz) 50%, var(--weiss) 50%);
  position: relative;
}
.r4_b1:after {
  content: ""; /* obwohl kein inhalt da ist, braucht es content, da ansonsten nichts dargestellt wird */
  position: absolute;
  background: linear-gradient(45deg, var(--weiss) 50%, rgba(0,0,0,0) 50%);
  z-index: -1;
}
.r4_b1,
.r4_b1:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.5s, color 0.3s;
}
.r4_b1:hover,
.r4_b1:hover:after {
  color: var(--weiss);
  background-position: 0;
}

.r4_b2 {
  background: linear-gradient(45deg, var(--rot) 50%, var(--weiss) 50%);
  position: relative;
  color: var(--rot);
}
.r4_b2:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, var(--weiss) 50%, rgba(0,0,0,0) 50%);
  z-index: -1;
}
.r4_b2,
.r4_b2:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.5s, color 0.3s;
}
.r4_b2:hover,
.r4_b2:hover:after {
  color: var(--weiss);
  background-position: 0;
}

.r4_b3 {
  background: linear-gradient(45deg, var(--gruen) 50%, var(--weiss) 50%);
  position: relative;
  color: var(--gruen);
}
.r4_b3:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, var(--weiss) 50%, rgba(0,0,0,0) 50%);
  z-index: -1;
}
.r4_b3,
.r4_b3:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.5s, color 0.3s;
}
.r4_b3:hover,
.r4_b3:hover:after {
  color: var(--weiss);
  background-position: 0;
}

.r4_b4 {
  background: linear-gradient(45deg, var(--blau) 50%, var(--weiss) 50%);
  position: relative;
  color: var(--blau);
}
.r4_b4:after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, var(--weiss) 50%, rgba(0,0,0,0) 50%);
  z-index: -1;
}
.r4_b4,
.r4_b4:after {
  background-size: 300%;
  background-position: 100%;
  transition: 0.5s, color 0.3s;
}
.r4_b4:hover,
.r4_b4:hover:after {
  color: var(--weiss);
  background-position: 0;
}

/*
Buttons Reihe 5
*/
.r5_b1 {
	background: none;
	position: relative;
}
.r5_b1:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r5_b1:after {
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--schwarz);
}
.r5_b1:hover,
.r5_b1:active {
	color: var(--weiss);
}
.r5_b1:hover:after,
.r5_b1:active:after {
	width: 100%;
}

.r5_b2 {
	background: none;
	position: relative;
  color: var(--rot);
}
.r5_b2:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r5_b2:after {
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--rot);
}
.r5_b2:hover,
.r5_b2:active {
	color: var(--weiss);
}
.r5_b2:hover:after,
.r5_b2:active:after {
	width: 100%;
}

.r5_b3 {
	background: none;
	position: relative;
  color: var(--gruen);
}
.r5_b3:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r5_b3:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: var(--gruen);
}
.r5_b3:hover,
.r5_b3:active {
	color: var(--weiss);
}
.r5_b3:hover:after,
.r5_b3:active:after {
	height: 100%;
}

.r5_b4 {
	background: none;
	position: relative;
  color: var(--blau);
}
.r5_b4:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r5_b4:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: var(--blau);
}
.r5_b4:hover,
.r5_b4:active {
	color: var(--weiss);
}
.r5_b4:hover:after,
.r5_b4:active:after {
	height: 100%;
}

/*
Buttons Reihe 6
*/
.r6_b1 {
  border: none;
  border-bottom: 2px solid var(--schwarz);
	background: none;
	position: relative;
  color: var(--schwarz);
}
.r6_b1:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r6_b1:after {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: var(--schwarz);
}
.r6_b1:hover,
.r6_b1:active {
	color: var(--weiss);
}
.r6_b1:hover:after,
.r6_b1:active:after {
	height: 104%;
} /* Height auf 104%, damit ich die Höhe vom 2x border-line wieder gut machen kann */

.r6_b2 {
  border: none;
  border-bottom: 2px solid var(--rot);
	background: none;
	position: relative;
  color: var(--rot);
}
.r6_b2:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r6_b2:after {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: var(--rot);
}
.r6_b2:hover,
.r6_b2:active {
	color: var(--weiss);
}
.r6_b2:hover:after,
.r6_b2:active:after {
	height: 104%;
}

.r6_b3 {
  border: none;
  border-bottom: 2px solid var(--gruen);
	background: none;
	position: relative;
  color: var(--gruen);
}
.r6_b3:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r6_b3:after {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: var(--gruen);
}
.r6_b3:hover,
.r6_b3:active {
	color: var(--weiss);
}
.r6_b3:hover:after,
.r6_b3:active:after {
	height: 104%;
}

.r6_b4 {
  border: none;
  border-bottom: 2px solid var(--blau);
	background: none;
	position: relative;
  color: var(--blau);
}
.r6_b4:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
}
.r6_b4:after {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: var(--blau);
}
.r6_b4:hover,
.r6_b4:active {
	color: var(--weiss);
}
.r6_b4:hover:after,
.r6_b4:active:after {
	height: 104%;
}

/*
Buttons Reihe 7
*/
.r7_b1 {
  border: none;
  border-left: 2px solid var(--schwarz);
	background: none;
	position: relative;
  color: var(--schwarz);
}
.r7_b1:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
  width: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--schwarz);
}
.r7_b1:hover,
.r7_b1:active {
	color: var(--weiss);
}
.r7_b1:hover:after,
.r7_b1:active:after {
	width: 104%;
}

.r7_b2 {
  border: none;
  border-left: 2px solid var(--rot);
	background: none;
	position: relative;
  color: var(--rot);
}
.r7_b2:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
  width: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--rot);
}
.r7_b2:hover,
.r7_b2:active {
	color: var(--weiss);
}
.r7_b2:hover:after,
.r7_b2:active:after {
	width: 104%;
}

.r7_b3 {
  border: none;
  border-left: 2px solid var(--gruen);
	background: none;
	position: relative;
  color: var(--gruen);
}
.r7_b3:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
  width: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--gruen);
}
.r7_b3:hover,
.r7_b3:active {
	color: var(--weiss);
}
.r7_b3:hover:after,
.r7_b3:active:after {
	width: 104%;
}

.r7_b4 {
  border: none;
  border-left: 2px solid var(--blau);
	background: none;
	position: relative;
  color: var(--blau);
}
.r7_b4:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.2s;
  width: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--blau);
}
.r7_b4:hover,
.r7_b4:active {
	color: var(--weiss);
}
.r7_b4:hover:after,
.r7_b4:active:after {
	width: 104%;
}

/*
Buttons Reihe 8
*/
.r8_b1 {
  border: none;
  text-decoration: none;
  position: relative;
}
.r8_b1:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--schwarz);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r8_b1:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r8_b2 {
  border: none;
  color: var(--rot);
  text-decoration: none;
  position: relative;
}
.r8_b2:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--rot);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r8_b2:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r8_b3 {
  border: none;
  color: var(--gruen);
  text-decoration: none;
  position: relative;
}
.r8_b3:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--gruen);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r8_b3:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r8_b4 {
  border: none;
  color: var(--blau);
  text-decoration: none;
  position: relative;
}
.r8_b4:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--blau);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r8_b4:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/*
Buttons Reihe 9
*/
.r9_b1 {
  border: none;
  text-decoration: none;
  position: relative;
}
.r9_b1:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--schwarz);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r9_b1:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}
.r9_b1:after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0%;
  width: 100%;
  height: 2px;
  background: var(--schwarz);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}
.r9_b1:hover:after {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r9_b2 {
  border: none;
  color: var(--rot);
  text-decoration: none;
  position: relative;
}
.r9_b2:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--rot);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r9_b2:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}
.r9_b2:after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0%;
  width: 100%;
  height: 2px;
  background: var(--rot);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}
.r9_b2:hover:after {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r9_b3 {
  border: none;
  color: var(--gruen);
  text-decoration: none;
  position: relative;
}
.r9_b3:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--gruen);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r9_b3:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}
.r9_b3:after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0%;
  width: 100%;
  height: 2px;
  background: var(--gruen);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}
.r9_b3:hover:after {
  transform: scaleX(1);
  transition: transform 0.4s;
}

.r9_b4 {
  border: none;
  color: var(--blau);
  text-decoration: none;
  position: relative;
}
.r9_b4:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--blau);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}
.r9_b4:hover:before {
  transform: scaleX(1);
  transition: transform 0.4s;
}
.r9_b4:after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0%;
  width: 100%;
  height: 2px;
  background: var(--blau);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}
.r9_b4:hover:after {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/*
Buttons Reihe 10
*/
.r10_b1 {
  color: var(--schwarz);
  border: none;
  border-bottom: 5px solid #00000000;
}
.r10_b1:hover {
  padding: 10px 5px;
  border-bottom: 2px solid var(--schwarz);
}

.r10_b2 {
  color: var(--rot);
  border: none;
  border-bottom: 5px solid #00000000;
}
.r10_b2:hover {
  padding: 10px 5px;
  border-bottom: 2px solid var(--rot);
}

.r10_b3 {
  color: var(--gruen);
  border: none;
  border-bottom: 5px solid #00000000;
}
.r10_b3:hover {
  padding: 10px 5px;
  border-bottom: 2px solid var(--gruen);
}

.r10_b4 {
  color: var(--blau);
  border: none;
  border-bottom: 5px solid #00000000;
}
.r10_b4:hover {
  padding: 10px 5px;
  border-bottom: 2px solid var(--blau);
}


/*
Switchs Reihe 1
*/
.r1_s1 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r1_s1-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 26px;
}
.r1_s1-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 18px;
}
.r1_s1-checkbox:checked + .r1_s1-slider {
  background-color: var(--schwarz);
}
.r1_s1-checkbox:checked + .r1_s1-slider:before {
  transform: translateX(24px);
}

.r1_s2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r1_s2-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 26px;
}
.r1_s2-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 18px;
}
.r1_s2-checkbox:checked + .r1_s2-slider {
  background-color: var(--rot);
}
.r1_s2-checkbox:checked + .r1_s2-slider:before {
  transform: translateX(24px);
}

.r1_s3 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r1_s3-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 26px;
}
.r1_s3-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 18px;
}
.r1_s3-checkbox:checked + .r1_s3-slider {
  background-color: var(--gruen);
}
.r1_s3-checkbox:checked + .r1_s3-slider:before {
  transform: translateX(24px);
}

.r1_s4 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r1_s4-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 26px;
}
.r1_s4-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 18px;
}
.r1_s4-checkbox:checked + .r1_s4-slider {
  background-color: var(--blau);
}
.r1_s4-checkbox:checked + .r1_s4-slider:before {
  transform: translateX(24px);
}

/*
Switchs Reihe 2
*/
.r2_s1 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 0 15px;
}
.r2_s1-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background: var(--weiss);
  border: 1px solid var(--mittelgrau);
  transition: 0.4s;
  border-radius: 26px;
}
.r2_s1-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--mittelgrau);
  transition: 0.4s;
  border-radius: 18px;
}
.r2_s1-checkbox:checked + .r2_s1-slider {
  border: 1px solid var(--schwarz);
}
.r2_s1-checkbox:checked + .r2_s1-slider:before {
  transform: translateX(24px);
  background: var(--schwarz);
}

.r2_s2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 0 15px;
}
.r2_s2-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background: var(--weiss);
  border: 1px solid var(--schwarz);
  transition: 0.4s;
  border-radius: 26px;
}
.r2_s2-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--schwarz);
  transition: 0.4s;
  border-radius: 18px;
}
.r2_s2-checkbox:checked + .r2_s2-slider {
  border: 1px solid var(--rot);
}
.r2_s2-checkbox:checked + .r2_s2-slider:before {
  transform: translateX(24px);
  background: var(--rot);
}

.r2_s3 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 0 15px;
}
.r2_s3-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background: var(--weiss);
  border: 1px solid var(--schwarz);
  transition: 0.4s;
  border-radius: 26px;
}
.r2_s3-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--schwarz);
  transition: 0.4s;
  border-radius: 18px;
}
.r2_s3-checkbox:checked + .r2_s3-slider {
  border: 1px solid var(--gruen);
}
.r2_s3-checkbox:checked + .r2_s3-slider:before {
  transform: translateX(24px);
  background: var(--gruen);
}

.r2_s4 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin: 0 15px;
}
.r2_s4-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background: var(--weiss);
  border: 1px solid var(--schwarz);
  transition: 0.4s;
  border-radius: 26px;
}
.r2_s4-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--schwarz);
  transition: 0.4s;
  border-radius: 18px;
}
.r2_s4-checkbox:checked + .r2_s4-slider {
  border: 1px solid var(--blau);
}
.r2_s4-checkbox:checked + .r2_s4-slider:before {
  transform: translateX(24px);
  background: var(--blau);
}

/*
Switchs Reihe 3
*/
.r3_s1 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r3_s1-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s1-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s1-checkbox:checked + .r3_s1-slider {
  background-color: var(--schwarz);
}
.r3_s1-checkbox:checked + .r3_s1-slider:before {
  transform: translateX(24px);
}

.r3_s2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r3_s2-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s2-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s2-checkbox:checked + .r3_s2-slider {
  background-color: var(--rot);
}
.r3_s2-checkbox:checked + .r3_s2-slider:before {
  transform: translateX(24px);
}

.r3_s3 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r3_s3-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s3-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s3-checkbox:checked + .r3_s3-slider {
  background-color: var(--gruen);
}
.r3_s3-checkbox:checked + .r3_s3-slider:before {
  transform: translateX(24px);
}

.r3_s4 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 15px;
}
.r3_s4-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s4-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.4s;
  border-radius: 3px;
}
.r3_s4-checkbox:checked + .r3_s4-slider {
  background-color: var(--blau);
}
.r3_s4-checkbox:checked + .r3_s4-slider:before {
  transform: translateX(24px);
}

/*
Switchs Reihe 4
*/
.r4_s1 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r4_s1-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r4_s1-checkbox:checked + .r4_s1-slider {
  background-color: var(--schwarz);
}

.r4_s2 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r4_s2-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r4_s2-checkbox:checked + .r4_s2-slider {
  background-color: var(--rot);
}

.r4_s3 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r4_s3-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r4_s3-checkbox:checked + .r4_s3-slider {
  background-color: var(--gruen);
}

.r4_s4 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r4_s4-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 3px;
}
.r4_s4-checkbox:checked + .r4_s4-slider {
  background-color: var(--blau);
}

/*
Switchs Reihe 5
*/
.r5_s1 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r5_s1-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--weiss);
  border: 2px solid var(--schwarz);
  transition: 0.4s;
  border-radius: 3px;
}
.r5_s1-checkbox:checked + .r5_s1-slider {
  background-color: var(--schwarz);
}

.r5_s2 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r5_s2-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--weiss);
  border: 2px solid var(--rot);
  transition: 0.4s;
  border-radius: 3px;
}
.r5_s2-checkbox:checked + .r5_s2-slider {
  background-color: var(--rot);
}

.r5_s3 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r5_s3-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--weiss);
  border: 2px solid var(--gruen);
  transition: 0.4s;
  border-radius: 3px;
}
.r5_s3-checkbox:checked + .r5_s3-slider {
  background-color: var(--gruen);
}

.r5_s4 {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
.r5_s4-slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--weiss);
  border: 2px solid var(--blau);
  transition: 0.4s;
  border-radius: 3px;
}
.r5_s4-checkbox:checked + .r5_s4-slider {
  background-color: var(--blau);
}
