@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Deklarieren einer Variable */
:root {
  --rot:      #cc2020;
  --schwarz:  #000000;
  --weiss:    #ffffff;
  --hellgrau: #e8e8e8;
  --grau:     #292929;
  --blau:     #1b8ac1;
  --gruen:    #12bc3d;
}
/* Das stylt eifach mal de schwarz Balke */
header nav {
  position: fixed;
  top: 0; left: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  background: var(--schwarz);
}

/* um das da gahts eigentlich.. das da isch alles wo mit em text z'tue hed */
header nav ul a li {
  display: inline-block;
  padding: 0 15px;
  line-height: 60px; /*vertikali centrierig vom text */
  color: var(--weiss);
  transition-duration: 0.5s;
}

/* en richtig noise hover effect */
header nav ul a li:hover {
  background: var(--rot);
}

/* Weg mit dem grusige unterstrich */
header nav ul a {
  text-decoration: none;
}
