/*
 * NAVIGATION + HEADER
*/

header {
  user-select: none;
}

.headerbild {
  width: 100%;
  height: 280px;
  background: url("../img/headercropped.png") no-repeat 50% 25%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

.headerbild p {
  font-family: "consolas", sans-serif;
  height: 280px;
  line-height: 275px;
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: var(--weiss);
  background: #0000004d;
}

.headerbild p::after {
  content: "}";
  color: var(--blau);
}

.headerbg {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--navbg);
}

nav.deskview {
  position: relative;
  text-align: left;
  width: 97%;
  padding-left: 3%;
  height: 70px;
  line-height: 70px;
  background: var(--navbg);
  z-index: 9000;
}
nav.mobileview {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 0;
  height: 70px;
  background: var(--navbg);
  z-index: 9000;
}

nav.deskview > ul > li {
  display: inline;
  padding: 0 20px;
}
nav.mobileview > ul {
  position: absolute;
  top: 70px;
  left: calc(-100% - 20px);
  padding-left: 20px;
  list-style-type: none;
  line-height: 60px;
  background: var(--navbg);
  width: calc(100% - 20px);
}

nav ul li a,
aside#dasmuessabe ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--font);
  border-bottom: 3px solid transparent;
  transition: var(--default-ad);
}

nav ul li a:hover,
aside#dasmuessabe ul li a:hover {
  color: var(--hoverfarbe);
  border-bottom: 2px solid var(--navsub);
}

nav.deskview aside#dasmuessabe {
  line-height: 50px;
  position: absolute;
  left: calc(3vw + 205px);
  top: 70px;
  opacity: 0;
  transition: var(--default-ad);
  z-index: 9000;
}
nav.mobileview aside#dasmuessabe {
  line-height: 50px;
  position: absolute;
  top: 250px;
  opacity: 0;
  transition: var(--default-ad);
}

nav.deskview aside#dasmuessabe > ul {
  list-style-type: none;
  text-align: center;
  width: 170px;
  background: var(--navbg);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav.mobileview aside#dasmuessabe > ul {
  list-style-type: none;
  width: 200px;
  padding-left: 20px;
  background: var(--navbg);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav.deskview aside#dasmuessabe.dunde,
nav.mobileview aside#dasmuessabe.dunde {
  opacity: 1;
}

#dropdownicon {
  position: relative;
  top: -3px;
  left: 2px;
  border: solid var(--font);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.3s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav ul li a:hover>#dropdownicon,
#dropdownicon:hover {
  border: solid var(--hoverfarbe);
  border-width: 0 3px 3px 0;
}

#dropdownicon.drehen {
  transform: rotate(-135deg);
  top: 0px;
}

/* die klass wird gaddet, sobald 100 abegscrollt isch worde */
.deskview.blibdobe,
.mobileview.blibdobe {
  position: fixed;
  top: 0;
  left: 0;
}

/* styling für die zwei icons */
#one,
#two {
  position: absolute;
  transition: var(--default-ad);
  cursor: pointer;
}

/* div für das settings icon */
.gear {
  -webkit-mask: url("../img/gear.svg") no-repeat center;
  mask: url("../img/gear.svg") no-repeat center;
  background: var(--icons);
  height: 35px;
  width: 35px;
  top: 17px;
  right: 30px;
}

/* div für das schliessen icon */
.close {
  -webkit-mask: url("../img/close.svg") no-repeat center;
  mask: url("../img/close.svg") no-repeat center;
  background: var(--closeicon);
  height: 30px;
  width: 30px;
  top: 20px;
  right: 30px;
}

/* hovering über die beide icons */
div.icons:hover>#two,
div.icons:hover>#one {
  background: var(--hoverfarbe);
}

/* verschwinde / erschiine weme druf klickt */
.begone {
  opacity: 0;
  transform: rotate(360deg);
}

#menu {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 9999;
  display: none;
}

/* die drei striche vom hamburgermenu */
div#normal1,
div#normal2,
div#normal3 {
  width: 35px;
  height: 5px;
  background-color: var(--icons);
  margin: 6px 0;
  transition: var(--default-ad);
}

/* die transformation vom obersten strich */
div.gedreht1 {
  transform: matrix(0.85, 0.8, -0.7, 0.7, 0, 11);
}

/* der zweite strich soll verschwinden */
div.gedreht2 {
  opacity: 0;
}

/* die transformation vom dritten strich */
div.gedreht3 {
  transform: matrix(0.85, -0.8, 0.7, 0.7, 0, -11);
}

/* wenn hover über menu, alle drei striche sollen rot gefärbt werden */
#menu:hover > #normal1,
#menu:hover > #normal2,
#menu:hover > #normal3 {
  background: var(--hoverfarbe);
}

/* 0.5s animation, dass die Navigation smooth reinkommt */
.inemitdem {
  animation: nachRechts 0.5s forwards;
}

/* 0.5s animation, dass die Navigation smooth rausgeht */
.usemitdem {
  animation: nachLinks 0.5s forwards;
}

/* animation von der aktuellen Position, 100% nach rechts */
@keyframes nachRechts {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

/* animation von der aktuellen position, 100% nach links */
@keyframes nachLinks {
  0% {
    transform: translateX(calc(100% + 20px));
  }
  100% {
    transform: translateX(0);
  }
}

.nope {
  display: none!important;
}

#leerecontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

@media screen and (max-width: 470px) {
  #menu {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 9999;
  }
}

/* positioniere vom on/off switch */
.switch {
  position: absolute;
  top: 95px;
  left: 165px;
  display: inline-block;
  width: 50px;
  height: 26px;
}
/* de grau / blau hintergrundbalke */
.slider {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  cursor: pointer;
  background-color: var(--hellgrau);
  transition: 0.5s;
  border-radius: 26px;
}
/* de wiss kreis wo sich hin und her bewegt */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--weiss);
  transition: 0.5s;
  border-radius: 18px;
}
/* was sett demit passiere wenns aklickt worde isch? */
input:checked + .slider {
  background-color: #24a5e5;
}
input:checked + .slider:before {
  transform: translateX(24px);
}

/* schriftart auswählen */
article select {
  position: absolute;
  left: 165px;
  top: 138px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--select);
  color: var(--navfont);
  height: 26px;
  font-size: 15px;
  padding-left: 8px;
  border-radius: 13px;
  width: 175px;
}
article select:focus {
  outline: none;
}

/* afangstpunkt fürs div vo dene 3 kreis für d'farbuswahl */
.colorselect {
  position: absolute;
  left: 165px;
  top: 162px;
}

/* Styling für alli kreisli zum aaklicke */
.kreis {
  float: left;
  width: 26px;
  height: 26px;
  margin: 15px 5px;
  border-radius: 26px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;
}

/* die drü farbe, weme mit de Muus drüber isch & de rahme, wenn eppis usgwählt isch*/
.rot { background: var(--rot); }
.rot:hover { background: var(--dunkelrot); }

.gruen { background: var(--gruen); }
.gruen:hover { background: var(--dunkelgruen); }

.blau { background: var(--blau); }
.blau:hover { background: var(--dunkelblau); }

.selected { border: 2px solid #ff9e28; }
